body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  padding: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

#addTask{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: #28a745;
}

#taskInput {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 0.5rem; 
}
.task-content {
  flex: 1;
}

.task-buttons {
  display: flex;
  gap: 0.5rem;
}

input[type="text"] {
  flex: 1;
  padding: 0.5rem;
}
.mode-switch {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

#modeToggleContainer {
  position: absolute;
  top: 10px;
  right: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

button.editBtn {
  background-color: #007bff;
}

button.deleteBtn {
  background-color: #dc3545;
}

button.updateBtn {
  background-color: #28a745;
}

.dark-mode {
  background-color: #333;
  color: white;
}

#error-message {
    color: red;
    font-size: 0.8rem;
}

.task-content span[contenteditable="true"] {
  border: 1px solid #ccc;
  padding: 0.3rem;
  border-radius: 3px;
  outline: none;
  display: inline-block;
  min-width: 100px;
}

.task-content span[contenteditable="true"]:focus {
  border-color: #007bff;
}
